.resource{class: ("omega" if local_assigns[:omega]) }
  %h4= link_to tool.title, tool.url, target: "_blank"
  %p.resource-summary= tool.summary
  %p.resource-summary= tool.address
  %p.resource-contact= tool.phone.html_safe if tool.phone
