= content_for :javascripts, javascript_include_tag('quiz')

.container
  .page-section
    %h1 You're done!

    %h2
      You've completed SAV's quiz on dating, sexuality and gender issues.

    %h3
      Your score was #{@score} out of 21.

    %h4
      = score_review(@score)

