.events
  display: table
  width: 100%

.event-headings
  display: table-row

  > .event-column
    font-weight: $font-weight-semibold

.event
  display: table-row

.event-column
  display: table-cell
