$carousel-nav-bg: #90d7d8
$carousel-nav-item: #59C2C2

.home-carousel
  position: relative
  +clearfix
  height: $hero-height
  width: 100%

.carousel-arrow-left,
.carousel-arrow-right
  display: block
  content: ''
  height: 80px
  width: 40px
  position: absolute
  top: 50%
  margin-top: -40px
  z-index: 800

.carousel-arrow-left
  background: asset-data-url('arrow-left.png') no-repeat center
  left: 0

.carousel-arrow-right
  background: asset-data-url('arrow-right.png') no-repeat center
  right: 0

.carousel-item
  opacity: 0
  height: $hero-height
  width: 100%
  position: absolute
  top: 0
  left: 0
  +transition(opacity 300ms ease)

  &.active
    opacity: 1

  &:hover *
    text-decoration: none

.carousel-nav
  position: absolute
  bottom: 30px
  width: 100%
  text-align: center
  z-index: 10

.carousel-nav-item
  content: ''
  width: 12px
  height: 12px
  margin: 4px
  border-radius: 8px
  display: inline-block
  background: #ccc

  &.active
    background: white

.what-is-logo
  +span-columns(4, 12)

  > img
    width: 200px

.what-is-content
  +span-columns(8, 12)
  +omega()

  > p
    margin-bottom: $gutter / 2

.home-events
  background: $color-yellow
  color: white

  .events
    margin-bottom: $gutter / 2

  .event-column
    @extend .heading-5
    padding: $gutter / 4 0

  a
    color: white

.carousel-1
  padding-top: 100px
  background: image-url('home-bg1.png') no-repeat center center

  > img
    margin-left: -260px
    margin-top: -(image-height('home-stroke1.png') / 2)

  h2
    text-align: left

    > a
      color: $color-orange

