$carousel-nav-bg: #90d7d8
$carousel-nav-item: #59C2C2

.home-carousel
  position: relative
  +clearfix
  height: 400px
  width: 100%

.carousel-arrow-left,
.carousel-arrow-right
  display: block
  content: ''
  height: 80px
  width: 40px
  position: absolute
  top: 50%
  margin-top: -40px

.carousel-arrow-left
  background: asset-data-url('arrow-left.png') no-repeat center
  left: 0

.carousel-arrow-right
  background: asset-data-url('arrow-right.png') no-repeat center
  right: 0

.carousel-item
  opacity: 0
  height: 400px
  width: 100%
  position: absolute
  top: 0
  left: 0
  +transition(opacity 300ms ease)

  &.active
    opacity: 1

.carousel-nav
  position: absolute
  bottom: 30px
  width: 100%
  text-align: center

.carousel-nav-item
  content: ''
  width: 12px
  height: 12px
  margin: 4px
  border-radius: 8px
  display: inline-block
  background: pink

  &.active
    background: blue

footer
  padding: 60px 36px
  background: #282828
  text-align: right

