.resource-category
  margin-bottom: $gutter
  +clearfix

.resource-category-heading
  padding-bottom: $gutter / 2
  margin-bottom: $gutter
  border-bottom: 1px solid
  text-transform: uppercase
  text-align: center

.resource
  +span-columns(6, 12)
  +nth-omega(2n)
  margin-bottom: $gutter
  padding: $gutter / 2
  border: 1px solid #ccc
  border-radius: 3px
