.section-support
  background: $color-red
  color: white

.support-this-fall
  +span-columns(7, 12)

.support-sponsor
  +span-columns(4, 12)
  +omega

.section-volunteer
  background: $color-yellow
  color: white

  a
    font-weight: $font-weight-semibold
    color: white
