<h3>
  Someone just filled out the contact form on studentsagainstviolence.ca
</h3>

<ul>
  <li>Name:  <%= @contact.name %></li>
  <li>Email: <%= @contact.email %></li>
  <li>Message: <%= @contact.message %></li>
</ul>

