<h3>
  Someone just applied using the peer support on studentsagainstviolence.ca
</h3>

<ul>
  <%
    %w{
      name email phone program why experience gain strengths understanding challenges
      training responsibilities honorarium
    }.each do |field| %>
      <% if @support.send(field).present? %>
        <li>
          <%= field.titleize %>: <br/>
          <% if field == "training" || field == "responsibilities" || field == "honorarium" %>
            <% if @support.send(field) == true %>
              Checked
            <% else %>
              Not checked
            <% end %>
          <% else %>
            <%= @support.send(field) %>
          <% end %>
        </li>
      <% end %>
  <% end %>
</ul>
