.container
  .page-hero.contact-hero
    = image_tag 'contact-stroke.png'
    %h1 Get in touch

  .page-section.section-contact
    .contact-rrusa
      %h2 Royal Roads University Student Association (RRUSA)
      %p.heading-4
        The RRUSA serves as a collective undergraduate voice, liaises with the
        University on a variety of issues, provides ongoing activities and events
        for learners, and administers the undergraduate extended healthcare plan.

    .contact-form
      %h2 Interested in getting involved with SAV?
      %form#contact
        %input{type: 'text', placeholder: 'Name'}
        %input{type: 'text', placeholder: 'Email'}
        %textarea{placeholder: 'Message'}

  .page-section.section-other-contacts
    %h2 Other contacts
    .other-contacts

      .other-contact
        %h4 Something
        %p.other-contact-content A description of it

      .other-contact
        %h4 Something
        %p.other-contact-content A description of it

      .other-contact
        %h4 Something
        %p.other-contact-content A description of it
