= content_for :javascripts, javascript_include_tag('pages/home')
%section.home-about
  .container
    .home-about-carousel
      .carousel-item
        .home-about-text
          %h2 Students against violence
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur.

        .home-about-image= image_tag "http://placehold.it/440x260"

      .carousel-nav
        <a href="#" class="active"></a>
        <a href="#"></a>
        <a href="#"></a>

%section.home-section.home-events
  .container
    %h2 Upcoming events
    %h3 community. support.

    .home-event
      .event-date Friday, May 3rd
      .event-name Protest @ the Commons

    .home-event
      .event-date Sunday, May 5th
      .event-name Racism in politics @ RRUSA Headquarters

    = link_to "See all events", "#", class: "home-events-link"
