footer
  +clearfix
  padding: $gutter * 2 $gutter * 1.5
  background: #282828
  color: white

.footer-content
  +span-columns(6, 12)

  > p
    font-size: 14px

  img
    margin-top: $gutter
    width: 335px

.footer-links
  +span-columns(6, 12)
  +omega
  text-align: right

  > a
    color: white

    &:visited
      color: white
