footer
  +clearfix
  padding: $gutter * 2 $gutter * 1.5
  background: #282828
  color: white

  p
    font-size: 14px
    margin-bottom: $gutter

.footer-content
  +span-columns(6, 12)

  img
    margin-bottom: $gutter
    max-width: 80%

.footer-links
  +span-columns(6, 12)
  +omega
  text-align: right

  a
    float: right
    padding: 8px 10px
    color: white
    display: block

    &:visited
      color: white
