$header-height: 80px

.site-header
  height: $header-height
  background: white
  z-index: 1023

  #logo
    float: left
    background: #434858
    width: $header-height
    height: $header-height

    // Temp until we actually have the logo
    text-align: center

    > a
      line-height: $header-height
      color: #FFF

  nav
    line-height: $header-height
    float: right

    > a
      float: left
      display: inline-block
      text-align: center
      height: $header-height
      width: $header-height
      color: white
      font-size: em(14)
      +transition(background-color 300ms ease)

  @each $item, $key in $nav-map
    .#{$item}
      background-color: map-get($key, background)

      &:hover,
      &.active,
      &:focus
        color: map-get($key, background)
        background: white no-repeat center center
        background-image: asset-data-url("#{$item}.png")
