@import "maps"

$header-height: 80px

.site-header
  height: $header-height
  background: white
  z-index: 1023

  #logo
    float: left
    +inline-background-image-retina('logo.png')
    background-position: center left
    width: $header-height
    height: $header-height

    > a
      display: block
      width: $header-height
      height: $header-height
      line-height: $header-height
      color: #FFF

  span
    color: #00529b
    font-size: 19px
    display: inline-block
    line-height: $header-height
    float: left

    > strong
      font-weight: $font-weight-semibold

  nav
    line-height: $header-height
    float: right

    > a
      float: left
      display: inline-block
      text-align: center
      height: $header-height
      width: $header-height
      color: white
      font-size: 14px
      +transition(background-color 300ms ease)

  @each $item, $key in $nav-map
    .#{$item}
      background-color: map-get($key, background)

      &:hover,
      &.active,
      &:focus
        color: map-get($key, background)
        background: white no-repeat center center
        background-image: asset-data-url("#{$item}.png")
