.page-hero
  position: relative
  padding-top: 180px
  height: $hero-height
  text-align: center
  background: #666
  color: white

  h1, h2
    position: relative
    z-index: 2
    width: 360px
    margin: 0 auto

  > img
    position: absolute
    top: 50%
    left: 50%
    z-index: 1

    +at-breakpoint($break-mobile)
      display: none

.events-hero
  background: image-url('events-bg.png') no-repeat center center

  > img
    margin-left: -(image-width('events-stroke.png') / 2)
    margin-top: -(image-height('events-stroke.png') / 2)

.resources-hero
  background: image-url('resources-bg.png') no-repeat center center

  > img
    margin-left: -(image-width('resources-stroke.png') / 2)
    margin-top: -(image-height('resources-stroke.png') / 2)

.contact-hero
  background: image-url('contact-bg.png') no-repeat center center

  > img
    margin-left: -(image-width('contact-stroke.png') / 2)
    margin-top: -(image-height('contact-stroke.png') / 2)

.support-hero
  background: image-url('support-bg.png') no-repeat center center

  > img
    margin-left: -(image-width('support-stroke.png') / 2)
    margin-top: -(image-height('support-stroke.png') / 2)
