.page-hero
  padding-top: 160px
  height: $hero-height
  text-align: center
  background: #666
  color: white

.events-hero
  background: image-url('events-bg.png') no-repeat center center

.resources-hero
  background: image-url('resources-bg.png') no-repeat center center

.contact-hero
  background: image-url('contact-bg.png') no-repeat center center

.support-hero
  background: image-url('support-bg.png') no-repeat center center
