.home-splash-inline
  background: $color-blue
  position: relative
  padding: $gutter 0

.home-splash-choices
  > a
    @extend .heading-4
    position: relative
    display: inline-block
    width: 33%
    padding: 14px 0
    color: white
    text-align: center
    +transition(color 100ms ease)
    z-index: 1

    &:hover
      color: $color-red

    &.choice-information:hover
      color: $color-orange

    &.choice-support:hover
      color: $color-purple


