body
  font-family: $font-primary
  font-size:   16px
  font-weight: $font-weight-normal
  background-color: #f1f1f1
  -webkit-font-smoothing: antialiased

a
  text-decoration: none

h1,
.heading-1
  font-size: 38px
  font-weight: $font-weight-bold
  margin-bottom: 30px

h2,
.heading-2
  font-size: 30px
  font-weight: $font-weight-semibold

h3,
.heading-3
  font-size: 24px

h4,
.heading-4
  font-size: 20px

h5,
.heading-5
