@import "global-reset"
@import "bourbon"
@import "grid-settings"
@import "mixins"
@import "variables"

.page-container
  width: 1024px
  max-width: 100%
  background: white
  margin: 0 auto

#image-preload > img
  position: absolute
  height: 1px
  width: 1px
  opacity: 0

.wf-loading
  +transition(none)
