$nav-map: (
  nav-1: (
    background: $color-blue
  ),
  nav-2: (
    background: $color-yellow
  ),

  nav-3: (
    background: $color-orange
  ),

  nav-4: (
    background: $color-red
  ),

  nav-5: (
    background: $color-purple
  )
);

$colors-map: (
  blue: $color-blue,
  yellow: $color-yellow,
  orange: $color-orange,
  red: $color-red,
  purple: $color-purple
);
