.container
  %footer
    .footer-content
      %p
        Funding for this project was received from Status of Women Canada, a
        federal government organization that promotes equality of women and
        their full participation in the economic, social and democratic life of
        Canada. For more information about their organization and work please
        visit their website.

      = link_to image_tag('swc-logo.jpg'), 'http://www.swc-cfc.gc.ca/', target: '_blank'

    .footer-links

